<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        {{#if loggedIn}}
        <li><a href="/dashboard" class="nav-link px-2 text-white">Dashboard</a></li>
        <li><a href="#" id="logout" class="nav-link px-2 text-white">Logout</a></li>
        {{else}}
        <li><a href="/login" class="nav-link px-2 text-white">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="">
      <h3>THE TECH BLOG</h3>
    </div>
</header>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}