<main class="form-signin w-25 py-5 m-auto">
  <form id="loginForm">
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="formUsername" placeholder="username">
      <label for="formUsername">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="formPassword" placeholder="password">
      <label for="formPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  </form>
  <a href="/register">Register instead</a>
</main>
<script src="/js/login.js"></script>