<div class="container text-center">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h2 class="title">Create Post</h2>
      <hr>
      <form class="newPostForm">
        <div>
          <input class="input rounded-pill" type="text" id="post-title" name="post-title" placeholder="title" />
        </div>
        <div>
          <textarea cols="40" rows="10" class="textarea is-large" id="post-content" name="post-content"
            placeholder="post content"></textarea>
        </div>
        <button type="submit" class="button is-primary is-pulled-right">create post</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
<script src="/js/addPost.js"></script>